---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { Code } from 'astro:components';
const pageTitle = "doom.pet feed"
---
<link rel="alternate" type="application/rss+xml" title="doom.pet" href="https://doom.pet/feed.rss" />
<link rel="alternate" type="application/rss+xml" title="doom.pet" href="https://doom.pet/feed/rss.xml" />
<BaseLayout pageTitle={pageTitle}>
<h2>doom.pet <mark>feed</mark></h2>
<p>if you're using a web feed reader, this page should automatically redirect to the best format.</p>
<p>if you're looking at this page, then you probably aren't using an rss reader.</p>
<p>insert this url into a web feed reader for it to work:</p>
<Code code={`https://doom.pet/feed/`} />
<p>if that doesn't work, try this url:</p>
<Code code={`https://doom.pet/feed.rss`} />
<p>if that also doesn't work, try this url:</p>
<Code code={`https://doom.pet/feed/rss.xml`} />
<!-- <p>if that doesn't work, try this url:</p>
<Code code={`https://doom.pet/feed.atom`} />
<p>if that also doesn't work, try this url:</p>
<Code code={`https://doom.pet/feed/atom.xml`} />
<p>if that <i>also</i> doesn't work, try this url:
<Code code={`https://doom.pet/feed.rss`} />
<p>if that <span class="slant">also</span> doesn't work, try this url:</p>
<Code code={`https://doom.pet/feed/rss.xml`} /> --!>
<p>if that somehow doesn't work, then i'm out of options. sorry.</p>
</BaseLayout>